

/*for mobile phones*/
@import "colors.css";
@import "theme_switch.css";
@import "navbar.css";
@import "form.css";

body{
  background-color: var(--light-ffffff);
  color: var(--light-191919);
  font-family: 'Verdana', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}
body.dark{
  background-color: var(--dark-121216);
  color: var(--dark-ffffff);
}



/*
 _                    _
| |__   ___  __ _  __| | ___ _ __
| '_ \ / _ \/ _` |/ _` |/ _ \ '__|
| | | |  __/ (_| | (_| |  __/ |
|_| |_|\___|\__,_|\__,_|\___|_|
*/
h1{
  font-size: 10vw;
  text-align: center;
  margin: 5vw;
}
p{
  font-size: 5vw;
  text-align: center;
  margin: 10vw 0;
  padding: 0;
}
a{
  color: #ee7733;
  text-decoration: none;
  font-weight: bold;
}




.album_details{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 15vw;
  padding: 1vw 0;
}

img.main_cover{
  width: 50vw;
  height: 50vw;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 3px;
  margin: 0;
}

p.album_title{
  margin: 1vw;
}
p.album_artist{
  margin: 1vw;
  font-weight: normal;
  font-size: 4vw;
  color: var(--light-52525d);
}


.tracklist{ 
  margin-bottom: 20vw;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.track{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 100%;
}

.track img{
  width: 15vw;
  height: 15vw;
  margin: 1vw 6vw;
  padding: 0;
  border: 0;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.track img.dark{
  border: 1px solid var(--dark-32323d);
  border-radius: 3px;
}

.track p{
  margin: 0;
  margin-left: 1.2vw;
  padding: 0;
  font-size: 3vw;
  color: var(--light-191919);
}

.track_name_link{
  color: var(--light-191919);
}
.track_name_link.dark{
  color: var(--dark-ffffff);
}

.track_name_link:hover{
  color: var(--orange);
}


/*for desktops*/
@media/* only*/ screen and (min-device-width: 768px){
  body{
    background-color: var(--light-ffffff);
    color: var(--light-191919);
    font-family: 'Verdana', sans-serif;
    text-align: center;
  }

  h1{
    font-size: 4vw;
    text-align: center;
    margin: 2vw;
  }
  p{
    font-size: 2vw;
    text-align: center;
    margin: 4vw;
    padding: 0;
  }
  a{
    color: #ee7733;
    text-decoration: none;
    font-weight: bold;
  }

  main{
    margin-left: 15vw;
  }



  .album_details{
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: 5vw 5vw 0 5vw;
    padding: 1vw 0;
    border-bottom: 1px solid var(--border);
  }

  img.main_cover{
    width: 12vw;
    height: 12vw;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 3px;
    margin: 0;
  }

  .album_info{
    /* margin-top: 5vw; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* justify-content: flex-end; */
    text-align: left;
    height: 16vw;
  }

  p.album_title{
    margin: 0;
    padding: 3vw 0 1vw 3vw;
    font-weight: bold;
    font-size: 2.5vw;
  }

  p.album_artist{
    margin: 0;
    padding: 1vw 0 1vw 3vw;
    font-weight: normal;
    font-size: 1vw;
    text-align: left;
  }

  p.album_year{
    margin: 0;
    padding: 1vw 0 1vw 3vw;
    font-size: 0.7vw;
    font-weight: normal;
    color: #a2a2ad;
  }

  .track_name_link{
    margin-left: 1.5vw;
    padding: 0;
    font-size: 1vw;
    text-align: left;
    color: var(--light-191919);
  }
  .track_name_link.dark{
    color: var(--dark-ffffff);
  }

  .track_name_link:hover{
    color: var(--orange);
  }



  .tracklist{
    border-top: 1px solid var(--light-aeaeae);
    margin: 0 5vw;
    padding-top: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
  }
  .tracklist.dark{
    border-top: 1px solid var(--dark-32323d);
  }

  .track{
    margin: 0;
    margin-bottom: 1vw;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    /* height: 10vh; */
  }

  .track img{
    width: 2.8vw;
    height: 2.8vw;
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
  .track img.dark{
    border: 1px solid var(--dark-32323d);
    border-radius: 3px;
  }

  .track p{
    margin: 0;
    margin-left: 1.2vw;
    padding: 0;
    font-size: 1vw;
  }

  .track_name{
    margin-left: 2vw;
  }

  .album_list{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    align-items: top;
    width: 100%;
  }

  .album{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 20vw;
  }

  .album img{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 15vw;
    height: 15vw;
  }

  .album .album_title{
    margin: 0;
    padding: 1vw 0 1vw 0;
    font-size: 1vw;
    text-align: left;
  }
}

/*

<div class="track">
  <img src=""/>
  <p class="track_name"></p>
</div>

*/
