/*
                   _
 _ __   __ ___   _| |__   __ _ _ __
| '_ \ / _` \ \ / / '_ \ / _` | '__|
| | | | (_| |\ V /| |_) | (_| | |
|_| |_|\__,_| \_/ |_.__/ \__,_|_|
*/
nav{
  display: flex;
  flex-direction: row;
  position: fixed;
  border-top: 1px solid var(--light-aeaeae);
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 10vh;
  background-color: var(--light-ffffff);
}
nav.dark{
  border-top: 1px solid var(--dark-32323d);
  background-color: var(--dark-191922);
}

nav .nav_item{
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: 25vw;
  border: 0;
  margin: 0;
  padding: 0;
}

nav a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--light-191919);
  font-size: 3vw;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
nav a.dark{
  color: var(--dark-ffffff);
}

nav a .nav_icon{
  width: 9vw;
  height: 9vw;
  margin: 0;
  padding: 0;
}
nav a .nav_icon.dark{
  display: none;
}
nav a .nav_icon_dark{
  display: none;
}
nav a .nav_icon_dark.dark{
  display: block;
  width: 9vw;
  height: 9vw;
  margin: 0;
  padding: 0;
}

nav a p{
  margin: 0;
  padding: 0;
  font-size: 3vw;
}

@media/* only*/ screen and (min-device-width: 768px){
  nav{
    display: flex;
    flex-direction: column;
    position: fixed;
    border-right: 1px solid var(--light-aeaeae);
    left: 0;
    margin: 0;
    padding: 0;
    width: 15vw;
    height: 100%;
    background-color: var(--light-ffffff);
  }
  nav.dark{
    border: 1px solid var(--dark-32323d);
    background-color: var(--dark-191922);
  }

  nav .logo{
    height: 10vh;
  }

  nav .nav_item{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 10vw;
    border: 0;
    margin: 0;
    padding: 0;
  }

  nav a{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-decoration: none;
    color: var(--light-191919);
    /* font-size: 3vw; */
    margin: .5vw 2vw;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  nav a.dark{
    color: var(--dark-ffffff);
  }

  nav a .nav_icon{
    width: 2vw;
    height: 2vw;
    margin: 0;
    padding: 0;
  }
  nav a .nav_icon.dark{
    display: none;
  }
  nav a .nav_icon_dark{
    display: none;
  }
  nav a .nav_icon_dark.dark{
    display: block;
    width: 2vw;
    height: 2vw;
    margin: 0;
    padding: 0;
  }
  
  nav a p{
    margin-left: .8vw;
    padding: 0;
    font-size: 1.1vw;
    font-weight: bold;
  }
}