@import "style/colors.css";
@import "style/theme_switch.css";

/*for mobile*/
body{
  background-color: #ffffff;
  color: var(--text1-light);
  font-family: 'Verdana', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav{
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 8vh;
  background-color: #ffffff;
}

nav .nav_item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25vw;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

nav a{
  text-decoration: none;
  color: var(--text1-light);
  font-size: 3vw;
  /* padding: 2vw 0; */
  margin: 0;
  padding: 0;
  width: 100%;
  /* height: 100%; */
}

nav a img{
  width: 9vw;
  height: 9vw;
  margin: 0;
  padding: 0;
}
nav a p{
  margin: 0;
  padding: 0;
  font-size: 3vw;
}

.album{
  padding-bottom: 10vw;
}

img.main_cover{
  width: 46vw;
  height: 46vw;
  border-radius: 3vw;
  margin-top: 18vw;
}

p.album_title{
  margin: 0;
  padding: 3vw 0 0 0;
  font-weight: bold;
  font-size: 7vw;
}

p.album_artist{
  color: var(--text2-light);
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 4vw;
}

p.album_year{
  color: var(--text2-light);
  margin: 0;
  padding: 0;
  font-size: 3.5vw;
  font-weight: normal;
}

.tracklist{
  margin: 0;
}
.track{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--border-light);
  margin-bottom: 2vw;
  padding-bottom: 2vw;
}
.track img{
  width: 13vw;
  height: 13vw;
  border: 1px solid var(--border-light);
  border-radius: 3vw;
  margin: 0 3vw;
  padding: 0;
}
.track p{
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 4vw;
  font-weight: normal;
  color: var(--text1-light);
}



/*for desktop*/
@media only screen and (min-width: 600px){
  body{
    background-image: linear-gradient(0deg, #121216 90vh, #121216dd 100%),
    url(img/album_covers/vv5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    text-align: left;
    color: var(--text);
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
  }

  nav{
    background-color: #191922;
    border-right: 1px solid var(--border);
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    font-family: 'Verdana', sans-serif;
    
    width: 15vw;
    /* stick the nav to top left of the screen */
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
  }

  main{
    margin: 0;
    padding: 0;
    margin-left: 15vw;
  }

  img.main_cover{
    width: 16vw;
    height: 16vw;
    border-radius: 3px;
    margin: 0;
  }

  .album{
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: 5vw 5vw 0 5vw;
    padding: 1vw 0;
    border-bottom: 1px solid var(--border);
  }

  .album_info{
    /* margin-top: 5vw; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* justify-content: flex-end; */
    text-align: left;
    height: 16vw;
  }

  p.album_title{
    margin: 0;
    padding: 3vw 0 1vw 3vw;
    font-weight: bold;
    font-size: 2.5vw;
  }

  p.album_artist{
    margin: 0;
    padding: 1vw 0 1vw 3vw;
    font-weight: normal;
    font-size: 1vw;
  }

  p.album_year{
    margin: 0;
    padding: 1vw 0 1vw 3vw;
    font-size: 0.7vw;
    font-weight: normal;
    color: #a2a2ad;
  }

  .tracklist{
    margin: 0 5vw;
  }
  .track{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0;
    margin: 1vw 0;
    padding: 0;
  }
  .track img{
    width: 3.5vw;
    height: 3.5vw;
    border: 1px solid var(--border);
    border-radius: 3px;
    margin: 0 1.6vw 0 0;
    padding: 0;
  }
  .track p{
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 1.2vw;
    font-weight: normal;
    color: var(--text);
  }

}